body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
}

.login-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/Image/login-bg.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 100%;
}

.container {
    width: 100%;
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(251, 250, 244, 0.432) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgba(235, 133, 23, 0.075);
    box-shadow: rgb(16, 55, 92, 0.8784313725) 15px 10px 30px -20px;
    margin: 20px;
    animation: fadeIn 1s ease-out;
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
}


@media screen and (max-width: 550px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .form .input {
        max-width: 50%;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(235, 131, 23);
    margin-bottom: 50px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 310px;
    margin-left: 20px;
}

.form .input {
    width: 100%; /* Bisa diatur */
    max-width: 500px;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #fff0cf 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}


.form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
}

.form .input::placeholder {
    color: rgb(170, 170, 170);
}

.form .input:focus {
    outline: none;
    border-inline: 2px solid #F3C623;
}

.form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.form .forgot-password a {
    font-size: 11px;
    color: rgb(243, 198, 35);
    text-decoration: none;
}

.form .register-button, .form .login-button {
    display: block;
    width: 60%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(235, 131, 23) 0%, rgb(243, 198, 35)100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(255, 233, 152, 0.878) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.form .register-button:hover, .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgb(243, 198, 35, 0.8784313725) 0px 23px 10px -20px;
}

.form .register-button:active, .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgb(243, 198, 35, 0.8784313725) 0px 15px 10px -10px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type=number] {
    -moz-appearance: textfield;
}
